*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url(MINI_PR-1.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: one;
    font-size: 15px;
    font-weight: 700px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    transition: all 0.8s ease-in-out;
}


.sidebar_menu .logo
{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    /* justify-self: center; */
    left: 55px;
    color: white;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: none;
}

.sidebar_menu .btn_two i{
    position: absolute;
    color: gray;
    font-size: 15px;
    font-weight: 500px;
    left: 275px;
    line-height: 25px;
    /* opacity: 0.4; */
    cursor: pointer;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 100px;
}

.sidebar_menu .menu li{
    /* margin-top: 5px; */
    padding: 10px 15px; 
    /* top-bootom left-right */
}

.sidebar_menu .menu i,a{
    color: azure;
    text-decoration: none;
    font-size: 20px;

}

.sidebar_menu .menu i{
    padding-right: 6px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 35px;
}

.sidebar_menu .social_media i{
     color: white;
    opacity: 0.5;
    padding: 0 5px; 
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
 
.btn_one:hover{
    font-size: 30px;
}

.btn_one i:hover{
    font-size: 30px;
    transition: all 0.1s linear;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;

}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 0.6;
    color: rgb(181, 210, 234);
}